.Home {
  width: 100%;
}

.Videos {
  padding: 2rem 1.5rem;
  width: 100%;
  .Videos__list {
    display: flex;
    flex-wrap: wrap;
  }
  .Videos__item {
    border: 3px solid blue;
    padding: 0 1.5rem 0 0;
    max-width: 25%;
    height: 18vw;
    margin-bottom: 2rem;
    flex-grow: 1;
  }
  .Videos__Link {
    display: flex;
  }
}

.Title {
  padding: 0 0 1rem 0;
}
